* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
