.navbar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to left,
    #42a5ff,
    /* blue */ #7fcfff,
    #fff,
    #ffd29a,
    #ff9f32 /* orange */
  );
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  z-index: -1;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

body.light .navbar-navigation {
  background-color: #ecececfa;
}
