.navbar-navigation {
  display: flex;
  justify-content: space-between; /* push links left, toggle right */
  align-items: center;
  background-color: #222;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
