.no-project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 1rem;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

body.light .no-project_container {
  background-color: #ffffff;
}

body.dark .no-project_container {
  background-color: #2e2e2e;
  color: #f1f1f1;
}

.no-project_container h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

body.light .no-project_container {
  background-color: #ffffff;
  border: 1px solid #ddd;
}

body.dark .no-project_container {
  background-color: #333;
  border: 1px solid #444;
}

.no-project_container .no-tasks-text {
  justify-self: center;
}

.no-project_title {
  font-size: 1.3rem;
  margin-bottom: 12px;
  font-weight: bold;
}
